*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:linear-gradient(180deg,#ffccd5,#ffe5ec,#fff0f3);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow-x:hidden;

}

.container{

    width:95%;

    max-width:420px;

    text-align:center;

    padding:20px;

}

h1{

    font-family:'Poppins',sans-serif;

    font-size:42px;

    color:#d6336c;

    margin-bottom:20px;

    animation:fade 2s;

}

.fotoPrincipal{

    width:100%;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    margin-bottom:20px;

}

.ecg{

    width:90%;

    margin:15px auto 35px;

    display:block;

}

.carousel{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

}

.carousel-container{

    overflow:hidden;

    width:260px;

}

.carousel-track{

    display:flex;

    transition:.5s;

}

.carousel img{

    width:120px;

    height:160px;

    object-fit:cover;

    border-radius:15px;

    margin-right:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.btn{

    border:none;

    width:40px;

    height:40px;

    border-radius:50%;

    background:#ff4d6d;

    color:white;

    font-size:22px;

    cursor:pointer;

}

.btn:active{

    transform:scale(.9);

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(-20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}